{{template "base" .}}

{{define "title"}} Artist page {{end}}



{{define "main"}}

<nav class="navlnk">
    <a class="lnk" href="/">GO home page</a>
</nav>
<br>
<br>

<div class="artistbox">


    <div class="cardartist">
        <a href="/artist/{{.Artist.Id}}">
            <br>
            <img class="artist-img" src="{{.Artist.Image}}" alt="artist image">
            <br>
            <br>
            <H2 class="artist-page-name">{{.Artist.Name}}</H2>
        </a>
        <div class="artist-page-data">

            <H3>

                Started career in {{.Artist.CreationDate}}</H3>
            <br>
            Members: <br>
            {{range .Artist.Members}}
            {{.}}
            <br>
            {{end}}
            <br>
            First album date {{.Artist.FirstAlbum}}
            <br>



        </div>
        <div class="relations">

            <h4>Locations / Concert Dates</h4>
            <br>
            {{range $key, $value := .Relation.Index}}
            {{range $key2, $value2 := $value.DatesLocation}}
            <div class="key">
                {{$key2}}
            </div>
            <div class="value">
                {{range $value2}}
                {{.}}

                {{end}}

            </div>
            <br>
            {{end}}
            {{end}}
          
        </div>
    </div>
</div>
{{end}}
