{{template "base" .}}

{{define "title"}} Artist page {{end}}



{{define "main"}}

<nav class="navlnk">
    <a class="lnk" href="/">GO home page</a>
</nav>
<br>
<br>

<div class="artistbox">


    <div class="cardartist">
        <a href="/artist/{{.P1.Id}}">
            <br>
            <img class="artist-img" src="{{.P1.Image}}" alt="artist image">
            <br>
            <br>
            <H2 class="artist-page-name">{{.P1.Name}}</H2>
        </a>
        <div class="artist-page-data">

            <H3>

                Started career in {{.P1.CreationDate}}</H3>
            <br>
            Members: <br>
            {{range .P1.Members}}
            {{.}}
            <br>
            {{end}}
            <br>
            First album date {{.P1.FirstAlbum}}
            <br>



        </div>
        <div class="relations">

            <h4>Locations / Concert Dates</h4>
            <br>
            {{range $key, $value := .P2.DatesLocation}}
            <div class="key">
                {{$key}}
            </div>
            <div class="value">
                {{range $value}}
                {{.}}

                {{end}}

            </div>
            <br>
            {{end}}
          
        </div>
    </div>
</div>
{{end}}
