{{template "base" .}}

{{define "title"}} Artist page {{end}}



{{define "main"}}
<nav class="navlnk">
    <a class="lnk" href="/">GO home page</a>
</nav>

<div class="artistbox">


    <div class="cardartist">
        <a href="/artist/{{.Id}}">
            <br>
            <img class="artist-img" src="{{.Image}}" alt="artist image">
            <br>
            <br>
            <H2 class="artist-page-name">{{.Name}}</H2>
        </a>
        <div class="artist-page-data">

            <H3>

                Started career in {{.CreationDate}}</H3>
            <br>
            Members: <br>
            {{range .Members}}
            {{.}}
            <br>
            {{end}}
            <br>
            First album date {{.FirstAlbum}}
            <br>



        </div>
        <div class="relations">

            <h4>Locations / Concert Dates</h4>
            <br>
            {{range $key, $value := .DatesLocation}}
            <div class="key">
                {{$key}}
            </div>
            <div class="value">
                {{range $value}}
                {{.}}

                {{end}}

            </div>
            <br>
            {{end}}
          
        </div>
    </div>
</div>
{{end}}
<footer class="footertwo">Website created in <strong>Golang © by bshayakh, rakhmeto</strong></footer>