{{template "base" .}}
 
{{define "title"}} Home page {{end}}
 
{{define "main"}}
<br>
<br>

<br>
<br>
<div class="box">
    {{range . }}
    <div class="artist">
        <a href="/artist/{{.Id}}">
            <img class="artist-img" src="{{.Image}}" alt="artist image">
        </a>
        <div class="artist-name">
            <br>
            <H3>{{.Name}}</H3>
            <br>
            
    
        </div>
    </div>
    {{end}}
</div>

{{end}}
<footer>Website created in <strong>Golang © by bshayakh, rakhmeto</strong></footer>