* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
    
}

html,
.zag{
  height: 100%;
}

body {
    /* background-color: grey; */
    /* font-family: 'Barlow Condensed'; color: aliceblue; */
    
    padding: 5%;
    background-image: url("/static/img/MayanWarrioratNight.jpg"); 
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 2%;
    
    
  
}

/* body::after{
    background-color: white;
    opacity: 0.5;
} */

h1 a{
    background-image: url("/static/img/music.png"); 
    background-size: 17%;
    background-repeat: no-repeat;
   
    background-position: 0px 0px;

    padding-left: 50px;
    position: relative;


}

.zag {
    font-family: 'Barlow Condensed'; color: #3fee2e;
    height: 100%;
    /* padding-bottom: 90px; */
    position: relative;
    min-height: 100%;
    
    
}
.navlnk{
    margin-left: 49px;
    
}
.lnk {
        font-family: 'Barlow Condensed'; color: rgb(255, 255, 255);
        
    }

footer{
    
    text-align: center;
    width: 100%;
   
    font-family: 'Barlow Condensed'; color: #3fee2e;
    position: static;
  left: 0;
  bottom: 0;
 
  height: 80px;
  padding-top: 5%;
  padding-bottom: 5%;
  
}

.footertwo{
    
    text-align: center;
    width: 100%;
   
    font-family: 'Barlow Condensed'; color: #3fee2e;
    position: fixed;
  left: 0;
  bottom: 0;
 
  height: 80px;
  padding-top: 5%;
  padding-bottom: 5%;
  
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    padding-bottom: 90px;
}

.artist {
    align-items: center;
    font-family: monospace;
    margin: 1em;
    text-align: center;
    word-break: break-word;
 
    background: url("/static/img/Blue_opacity.png");
    
    height: 8%;
    border-radius: 30px;
    width: 200px;
   
   
}

.artist-name{
    font-size: 135%; color: aliceblue;
    padding: 5%;
    text-shadow: black 3px 2px;
   
    

}
.artist-page-data{
    font-size: 135%; color: aliceblue;
    padding: 5%;
    text-shadow: black 3px 2px;
    padding-bottom: 0%;
    
   
    

}

.artist-img {
    border-radius: 30px;
    width: 200px;
   
}

.artist-page-blok {
    font-size: 100%; color: aliceblue;
    background: rgb(60, 62, 68) none repeat scroll 0% 0%;
    
    text-shadow: black 3px 2px;
    

}

.borderbgr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(29, 44, 89) none repeat scroll 0% 0%; opacity: 0,5;
    
    width: 16%;
    border-radius: 30px;

}

.artistbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        
}

.cardartist {
  
    font-family: monospace;
    margin: 1em;
    text-align: center;
    /* word-break: break-word; */
 
    /* background: rgb(29, 44, 89) none repeat scroll 0% 0%; opacity: 0,5;
    opacity: 0,5; */
   background: url("/static/img/Blue_opacity.png");
    /* border-radius: 60px; */
    
    height: 8%;
    border-radius: 30px;
    width: 70%;
    display: flex;
    padding: 2%;
    padding-bottom: 1%;
    
}

.artist-page-data{
    font-size: 135%; color: aliceblue;
    padding: 2%;
    text-shadow: black 3px 2px;
    width: 40%;
  
}

.artist-page-name {
    font-size: 180%; color: aliceblue;
    padding: 5%;
    text-shadow: black 3px 2px;
   

}

.relations {
    font-size: 135%; color: aliceblue;
    padding: 2%;
    text-shadow: black 3px 2px;
    /* display: flex; */
    width: 40%;

}

.key{
    width: 100%;
    margin: auto;
}

.value{
    width: 40%;
    margin: auto;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.error{
    text-align: center;
    margin: 20%;
}